<authnavbar-cmp>
</authnavbar-cmp>

<div class="wrapper wrapper-full-page">
    <div class="full-page login-page register-page" data-color="azure">
        <div class="content">
            <a routerLinkActive="active" [routerLink]="['/admin/home/all']">
                <button class="ui button red ml-5">
                    <i class="fa fa-arrow-circle-left"></i>
                    Back to home page
                </button>
            </a>
            <div class="ui container">

                <h1 class="ui header">Welcome on Cau Sports News</h1>

                <div class="ui stackable grid three column">
                    <div class="ui column"><!-- col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3 -->
                        <div class="ui segments">
                            <div class="ui segment">
                                <div class="ui grid">
                                    <div class="ui three wide column">
                                        <img src="./assets/img/Mandareen-logo.png" width="100%">
                                    </div>
                                    <div class="ui thirteen wide column">
                                        <h3 class="account">Access to my account</h3>
                                        <h3 class="mandareen">Cau Sports News</h3>
                                        <a routerLinkActive="active" [routerLink]="['/auth/register']">
                                            <button class="ui button blue ml-5 inverted">
                                                <i class="fa fa-user-plus"></i>
                                                Sign up
                                            </button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="ui segment ui form">
                                <div class="ui field">
                                    <label>Email address</label>
                                    <input type="email"
                                           placeholder="nom@email.com"
                                           [(ngModel)]="pro.email"
                                           required>
                                </div>

                                <div class="ui field">
                                    <label>Password</label>
                                    <input type="password"
                                           placeholder="Mot de passe"
                                           [(ngModel)]="pro.password"
                                           required>
                                </div>
                            </div>

                            <div class="ui segment center aligned">
                                <button type="submit" class="ui inverted big orange button" (click)="submit()">
                                    Sign-in
                                </button><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>