<authnavbar-cmp></authnavbar-cmp>
<div class="wrapper wrapper-full-page">
    <div class="full-page register-page" data-color="azure">
        <div class="content">
            <a routerLinkActive="active" [routerLink]="['/admin/home/all']">
                <button class="ui button red ml-5">
                    <i class="fas fa-arrow-circle-left"></i>
                    Back to home page
                </button>
            </a>
            <div class="container">
                <div class="ui stackable grid two column">
                    <div class="column">
                        <div class="ui segments">
                            <div class="ui segment">
                                <h3 class="ui header">Be part of the  <b>CAU Sports Community</b> !</h3>
                            </div>

                            <div class="ui segment offres">
                                <h3 class="ui header">Get full access on our website :</h3>
                                <p>- Free comments on every articles</p>
                                <p>- Own management of your favorite article list</p>
                            </div>
                        </div>
                    </div>

                    <div class="column">
                        <form [formGroup]="RegisterForm" (ngSubmit)="register(RegisterForm.value)" novalidate
                              class="ui form">
                            <div class="ui segments">
                                <div class="ui segment">
                                    <h3 class="ui header">
                                        <img src="./assets/img/Mandareen-logo.png" width="20%">
                                        <div class="content">Registration form</div>
                                        <a routerLinkActive="active" [routerLink]="['/auth/login']">

                                            <button class="ui button blue ml-5 inverted">
                                                <i class="fas fa-user"></i>
                                                Already registered ? Sign in
                                            </button>
                                        </a>
                                    </h3>
                                </div>
                                <div class="ui segment">
                                    <div class="form-group"
                                         [ngClass]="{'has-error':!firstname.valid && firstname.touched}">
                                        <input type="text"
                                               name="firstname"
                                               class="form-control"
                                               placeholder="Prénom"
                                               [formControl]="RegisterForm.controls['firstname']"/>
                                        <div *ngIf="firstname.invalid && firstname.touched"
                                             class="help-block">
                                            What is your firstname ?
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         [ngClass]="{ 'has-error': !lastname.valid && lastname.touched}">
                                        <input type="text"
                                               class="form-control"
                                               name="lastname"
                                               placeholder="Nom"
                                               [formControl]="RegisterForm.controls['lastname']"/>
                                        <div *ngIf="lastname.invalid && lastname.touched"
                                             class="help-block">
                                            What is your lastname ?
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         [ngClass]="{ 'has-error': !email.valid && email.touched }">
                                        <input type="email"
                                               class="form-control"
                                               name="email"
                                               placeholder="Email address"
                                               [formControl]="RegisterForm.controls['email']"/>
                                        <div *ngIf="email.invalid && email.touched" class="help-block">
                                            Wrong email format, please verify
                                        </div>

                                    </div>

                                    <div class="form-group"
                                         [ngClass]="{ 'has-error': password.invalid && password.touched }">
                                        <input type="password"
                                               class="form-control"
                                               name="password"
                                               placeholder="Password"
                                               [formControl]="RegisterForm.controls['password']"/>
                                        <div *ngIf="password.invalid && password.touched"
                                             class="help-block">
                                            You must enter a password
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="field">
                                            <label class="block-label">Type : </label>
                                            <select [formControl]="RegisterForm.controls['type']" placeholder="Type of account">
                                                <option value="User">User</option>
                                                <option value="Admin" selected>Admin</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui segment center aligned">
                                    <button type="submit"
                                            class="ui button orange inverted"
                                            [disabled]="RegisterForm.invalid"
                                            angulartics2On="click"
                                            angularticsCategory="Evenement"
                                            angularticsAction="Inscription">
                                        Sign up !
                                    </button>
                                    <br>
                                    <small>
                                        In continuing, I accept that the general conditions
                                        de Cau Sports News SAS and be contacted by the above means
                                        for service purposes
                                    </small>
                                </div>

                                <div class="text-left small-margin">

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="full-page-background"></div>
    </div>
</div>
