<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">Cau Sports News</a>
    <div class="navbar-expand mr-auto">
        <div class="navbar-nav">
            <li class="divider" *ngIf="isNotMobileMenu()"></li>
            <li *ngFor="let menuItem of menuItems" routerLinkActive="active" class="{{menuItem.class}}">
                <a class="nav-item nav-link" [routerLink]="[menuItem.path]">
                    <i class="{{menuItem.icon}}"></i>
                    {{menuItem.title}}
                </a>
            </li>
        </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav">
        <div class="nav-item nav-link" class="navbar-nav">
            <a class="nav-item nav-link" href="/auth/login" (click)="logout()" title="Log out">
                <i class="fa fa-sign-out"></i>
            </a>
        </div>
    </div>
</nav>