<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="content" *ngIf="results.length > 0">
                        <p>Results</p>
                        <div *ngFor="let result of results" class="results">
                            <div class="result">
                                <img src="{{'data:image/png;base64,' + result.logo_1}}" class="team-logo">
                                {{result.team1_name }}
                                <span class="score">
                                {{result.score_1 + ' - ' + result.score_2}}
                                </span>
                                {{result.team2_name}}
                                <img src="{{'data:image/png;base64,' + result.logo_2}}" class="team-logo">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="results.length == 0">
                        <p>Results</p>
                        <div class="header text-center">
                            No scores for the moment..
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="content" *ngIf="article">
                        <div class="cardNews header text-center">
                            <button [hidden]="!user" (click)="addToFavorites(article)"
                                    class="ui button green inverted pull-right">
                                Add to favorite
                                <i class="fa fa-star"></i>
                            </button>
                            <img src="{{'data:image/png;base64,' + article.img}}" class="article-image">
                            <div>
                                <b>{{article.introduction}}</b>
                            </div>
                            <div class="post-info">
                                ({{article.creation_date | date: 'yyyy/MM/dd'}}) by {{article.user.firstname + ' ' + article.user.lastname}}
                            </div>
                            <div class="content">
                                <p>{{article.content}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="content" *ngIf="user">
                        <div class="header text-center">
                            <h4>Comments</h4>
                            <div class="content">
                                <label> Add new comment : </label>
                                <input type="text" [(ngModel)]="newComment.content">
                                <button (click)="addComment()">Add</button>
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="!user">
                        <div class="header text-center">
                            <h4>Please log in <a href="/auth/login">here</a> to add a comment.</h4>
                        </div>
                    </div>
                    <div class="content" *ngIf="article && user">
                        <div class="header text-center">
                            <div class="card" *ngFor="let comment of article.comments">
                                <div class="content">
                                    <p>{{comment.content}}</p>
                                    <p>{{comment.user.firstname + ' ' + comment.user.lastname}}</p>
                                    <p>{{comment.creation_date | date: 'yyyy/MM/dd'}}</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="content" *ngIf="favorites.length > 0">
                        <p>Favorites</p>
                        <div class="card" *ngFor="let favorite of favorites">
                            <div>
                                <div>
                                    <span (click)="goToArticleDetails(favorite.article)">{{favorite.article.title}}</span>
                                    <span (click)="removeFromFavorites(favorite)" class="closeButton">
                                        x
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="favorites.length == 0 && user">
                        <p>Favorites</p>
                        <div class="content">
                            No favorite article added.
                        </div>
                    </div>
                    <div class="content" *ngIf="!user">
                        <p>Favorites</p>
                        <div class="content">
                            In order to create your favorite article list, please log in <a href="/auth/login"> here ..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
