<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="content">
                        <p>Results</p>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="content">
                        <div class="header text-center">
                            <h4>News</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="content">
                        <p>Last minute</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
