<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="content" *ngIf="results.length > 0">
                        <p>Results</p>
                        <div *ngFor="let result of results" class="results">
                            <div class="result">
                                <img src="{{'data:image/png;base64,' + result.logo_1}}" class="team-logo">
                                {{result.team1_name }}
                                <span class="score">
                                {{result.score_1 + ' - ' + result.score_2}}
                                </span>
                                {{result.team2_name}}
                                <img src="{{'data:image/png;base64,' + result.logo_2}}" class="team-logo">
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="results.length == 0">
                        <p>Results</p>
                        <div class="header text-center">
                            No scores for the moment..
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="content">
                        <div class="header text-center" *ngIf="articles.length > 0">
                            <div class="cardNews" *ngFor="let article of articles">
                                <img src="{{'data:image/png;base64,' + article.img}}" class="article-image">
                                <div>
                                    <h2>
                                        <a (click)="goToArticleDetails(article)">{{article.title}}</a>
                                    </h2>
                                </div>
                                <div>
                                    <b>{{article.introduction}}</b>
                                </div>
                                <div class="post-info">
                                    ({{article.creation_date | date: 'yyyy/MM/dd'}}) by {{article.user.firstname + ' ' + article.user.lastname}}
                                </div>
                                <div class="content">
                                    <p>{{article.content | slice:0:300}}...</p>
                                    <a class="read-more" (click)="goToArticleDetails(article)">Read more</a>
                                </div>
                            </div>
                        </div>
                        <div class="header text-center" *ngIf="articles.length == 0">
                            No article existing for the moment..
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="content" *ngIf="favorites.length > 0">
                        <p>Favorites</p>
                        <div class="cardNews" *ngFor="let favorite of favorites">
                            <div>
                                <div>
                                    <div>
                                        <span (click)="goToArticleDetails(favorite.article)">{{favorite.article.title}}</span>
                                        <span (click)="removeFromFavorites(favorite)" class="closeButton">&nbsp;X&nbsp;</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="content" *ngIf="favorites.length == 0 && user">
                        <p>Favorites</p>
                        <div class="content">
                            No favorite article added.
                        </div>
                    </div>
                    <div class="content" *ngIf="!user">
                        <p>Favorites</p>
                        <div class="content">
                            In order to create your favorite article list, please log in <a href="/auth/login"> here ..</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
