<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="content">
                        <p>Results</p>
                        <div *ngFor="let result of results" class="results">
                            <div class="result">
                                <img src="./assets/img/unknown.png" class="team-logo">
                                {{result.team1_name }}
                                <span class="score">
                                {{result.score_1 + ' - ' + result.score_2}}
                                </span>
                                {{result.team2_name}}
                                <img src="./assets/img/unknown.png" class="team-logo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="content">
                        <div class="header text-center">
                            <div class="cardNews" *ngFor="let article of articles">
                                <button [hidden]="isFromFavorites(article.id)" (click)="addToFavorites(article)" class="ui button green inverted">
                                    Add to favorite
                                    <i class="fa fa-star"></i>
                                </button>
                                <div>
                                    <h2>
                                        <a (click)="goToArticleDetails(article)">{{article.title}}</a>
                                    </h2>
                                </div>
                                <div>
                                    <b>{{article.introduction}}</b>
                                </div>
                                <div class="post-info">
                                    ({{article.creation_date | date: 'dd/MM/yyyy'}}) by Ronaldo
                                </div>
                                <div class="content">
                                    <p>{{article.content | slice:0:300}}...</p>
                                    <a class="read-more" (click)="goToArticleDetails(article)">Read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="content">
                        <p>Favorites</p>
                        <div class="card" *ngFor="let favorite of favorites">
                            <div>

                            <div>
                                <b>{{favorite.article.title}}</b>
                                <button (click)="removeFromFavorites(favorite)" class="ui button red inverted">
                                    Remove from favorite
                                    <i class="fa fa-star"></i>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
